/* パソコン版は２カラム、スマホ版は１カラムでいく */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  background-color: #f5f5dc;
}

.board {
  /* position: absolute; */
  display: flex;
  flex-wrap: wrap;
  width: 720px;
  height: 720px;
  background-color: green;
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: 1px solid black;
}

.piece {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 1px solid black;
}
